.gallery-carousel{
	padding: 15px 0; 
	margin-bottom: 15px; 
	
	.carousel-container{
		width: 100%; 
		
		.carousel-item{
			
		}

		.carousel-nav{
			width: 35%;
			margin: 0 auto; 
			display: flex;
			justify-content: space-around;
			 
			.carousel-pip{
				width: 15px;
				height: 15px;
				border-radius: 15px;
				opacity: 0.5; 
				background-color: $tertiary; 
				
				&.cycle-pager-active{
					opacity: 1; 
				}
			}
		}
	}
}

.gallery-content{
	padding: 15px 0 0 0;
}