@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,700');
// @import url('https://fonts.googleapis.com/css?family=Droid+Serif:400,400i,700');

$headline: "Roboto", sans-serif;
$body: "Georgia", serif;

$fontsizeXL: 3em;
$fontsizeL: 2em;
$fontsizeM: 1.5em;
$fontsizeS: 1em;
$fontsizeXS: 0.8em;

a{
	text-decoration: underline;
}

strong{
	font-weight: bold;
}

em{
	font-style: italic;
}

p{
	font-size: ($fontsizeS) + em;
	font-family: $body; 
	line-height: 1.2; 
	
	&:not(:last-of-type){
		margin-bottom: ($fontsizeS) + em;
	}
}

h3{
	font-size: ($fontsizeM) + em;
	font-family: $headline; 
}

h2{
	font-size: ($fontsizeL) + vw;
	font-family: $headline; 
}

h1{
	font-size: ($fontsizeXL) + vw;
	font-family: $headline; 
}