header{
	width: 30%;
	background-color: $main;
	color: $secondary;
	padding: 25px; 
	
	a{
		color: $secondary;
		font-size: $fontsizeM; 
		text-decoration: none;
		margin-bottom: 15px; 
		font-family: $headline; 
	}
	
		
	.logo{
		margin-bottom: 30px;
		
		a{
			
			svg{

			}
		}
	}

	.nav-section{
		
		.social-nav{
			display: flex;
			justify-content: space-around;
			margin-bottom: 15px;
			
			a{
				display: inline-block;
			}
		}

		.main-nav{
			margin-bottom: 15px;
			
			a{
				display: block;
				width: 100%; 
			}
		}

		.info{
			
			a{
				display: block;
				width: 100%; 
				font-size: $fontsizeS;
				font-family: $body;
				color: $tertiary; 
			}
		}
	}
}
