header{
	width: 30%;
	background-color: $main;
	color: $secondary;
	padding: 15px; 
	
	a{
		color: $secondary;
		font-size: $fontsizeL; 
		text-decoration: none;
		margin-bottom: 15px; 
	}
	
	.main-info{
		
		.logo{
			
			a{
				
				svg{
					
				}
			}
		}

		.info{
			
			a{
				display: block;
				width: 100%; 
				font-size: $fontsizeM;
			}
		}
	}

	.nav-section{
		
		.social-nav{
			display: flex;
			justify-content: space-between;
			
			a{
				display: inline-block;
			}
		}

		.main-nav{
			
			a{
				display: block;
				width: 100%; 
			}
		}
	}
}
