{% extends "base.twig" %}

{% block content %}

<div class="carpentry-container">
	{% for layout in gallery_layouts %}
		{% if layout.acf_fc_layout == "carousel" %}
			<section class="gallery-carousel">
				<div class="carousel-container">
					<div class="cycle-slideshow" data-cycle-swipe=true data-cycle-fx="scrollHorz" data-cycle-timeout="0" data-cycle-slides="> article" data-cycle-pager="#carousel-pager-{{loop.index}}" data-cycle-pager-template=\'<div class="carousel-pip"></div>\' data-cycle-auto-height="calc">
						{% for item in layout.carousel_slides %}
							<article class="carousel-item">
								{{item.carousel_content}}
							</article>
						{% endfor %}
					</div>
					<div class="carousel-nav" id="carousel-pager-{{loop.index}}"></div>
				</div>
			</section>
		{% endif %}

		{% if layout.acf_fc_layout == "content" %}
			<section class="gallery-content">
				{{layout.gallery_content}}
			</section>
		{% endif %}
	{% endfor %}
</div>

{% endblock %}































