{% extends "base.twig" %}

{% block content %}

	{% if instagram_data %}
		<section class="container">
			{% for gram in instagram_data %}
				<article>
					<img src="{{gram.img.url}}"/>
					<p>{{gram.description}}</p>
				</article>
			{% endfor %}
		</section>
	{% endif %}
{% endblock %}
