{% extends "base.twig" %}

{% block content %}
<div class="home-content">
	<h1>{{home_title}}</h1>
	{{home_content}}
</div>
{% if include_feed %}
	{{feed_content}}
{% else %}
<div class="home-images">
	{% for image in home_images %}
		<div class="home-image" style="background-image:url({{image.home_image.url}}); background-size:cover;"></div>
	{% endfor %}
</div>
{% endif %}
{% endblock %}
